@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "IndexLoggedIn";
}

<p><b><h1 class="text-center page-header">Welcome to our social network for challenges!</h1></b></p>

<br /><h3>
    Challenge.me is a social network for challenges. The idea of this project is to challenge other
    people to do something new, to make people live more actively and enjoy life at its finest.
    If you want to find out more about it -simply register and login into your account!
    
</h3>
