
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <h3><b>Challenger</b></h3>
        ??????????????????
    </div>
    <div class="col-sm-2">
        <h3><b>Asignee</b></h3>
        ??????????????????
    </div>
    <div class="col-sm-2">
        <h3><b>Challenge</b></h3>
        ??????????????????
    </div>  
      <div class="col-sm-2">
          <h3><b>Type</b></h3>
          ??????????????????
      </div>
      <div class="col-sm-2">
          <h3><b>Status</b></h3>
          ??????????????????
      </div>
      <div class="col-sm-2">
          <h3><b>Due date</b></h3>
          ??????????????????
      </div>
  </div>
</div>
