@{
    ViewBag.Title = "Index Page";
}
<div class="h1 text-center ">
    <p>Yasen e pedal Yasen e pedal Yasen e pedal Yasen e pedal Yasen e pedal
        Yasen e pedal
        Yasen e pedal
        Yasen e pedal
        Yasen e pedal
        Yasen e pedal
        Yasen e pedal
        Yasen e pedal
        Yasen e pedal
        Yasen e pedal
        Yasen e pedal
        Yasen e pedal
        Yasen e pedal
        Yasen e pedal
    </p>
</div>
